html{
    scroll-behavior: smooth;
}
    
     body {
         font-family: 'Inter', sans-serif;
        background: #2A7B9B;
        background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

         /* background: #2A7B9B;
         background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
         /* background-color: #f0f2f5;
         scroll-behavior: smooth;  */
     }
     /* Custom scrollbar for better aesthetics */
     ::-webkit-scrollbar {
         width: 8px;
     }
     ::-webkit-scrollbar-track {
         background: #f1f1f1;
         border-radius: 10px;
     }
     ::-webkit-scrollbar-thumb {
         background: #888;
         border-radius: 10px;
     }
     ::-webkit-scrollbar-thumb:hover {
         background: #555;
         cursor: grab;
     }
     /* Style for required fields */
     label.required::after {
         content: ' *';
         color: #ef4444; /* Red color for asterisk */
     }
     /* Initially hide all sections except the first one (handled by JS) */
     section:not(#home) {
         display: block;
     }
     .Background{

         background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
     }